.profile-container {
  display: flex;
  display: -webkit-flex;
  flex: 0;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: 1px solid #420000;
  border-radius: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 1000px;
  min-height: 500px;
  max-height: 500px;
  }
  /*targets the id profile image in the div*/
  .profile-container #prof {
       width: 80px;
       height: auto;
       padding: 3px 3px 15px 3px;
       border: 2px solid #eeeeee;
       border-radius: 2px;
       -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
   margin: 5px auto 10px auto;
   }
  /*Make the profile image grow on hover*/
  .profile-container #prof:hover {
    Transform:scale(1.2);
   }
  /*style the h4 title tag */
  .profile-container h4 {
    line-height: 1.1;
    color: #101010;
    margin: 10px auto 10px auto;
  }
  /*Style the profile text under the profile image */
  .profile-container #p{
   position: relative;
   height: auto;
   background-color: white;
   border-left: 1px solid grey;
    border-right: 1px solid grey;
   margin: 10px auto 10px auto;
   width:75%;
   padding: 10px 5px 10px 5px;
   text-align: center;
   font-size: 0.8em;
   color: #101010;
  }
  /*Style the socials paragraph */
  .profile-container #socials {
     position: relative;
     display: flex;
     display: -webkit-flex;
     direction: row;
    flex: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
     background-color: #eefcfc;
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
    width: 90%;
    height: auto;
    padding: 5px;
    margin: 5px auto 5px auto;
  }
  /*sets the social images size */
  #socials>img {
  width: 24px;
  height: auto;
  }